body {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  width: 90rem;
  height: 60rem;

  border: solid rgb(92, 92, 92) 2px;
  background-color: white;
}

.top-row {
  height: 10%;
}

.mid-row {
  height: 65%;
}

.bot-row {
  height: 25%;
}

/* Top bar */

.top-bar {
  border: 2px solid black;
}

.energy-container {
  height: 3.5rem;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.energy {
  background-color: aquamarine;
  height: 2rem;
  width: 2rem;
  padding: 0;
  margin: 0;
}

.energy-qty-row {
  text-align: center;
}

/* Player Field */

.player-field {
  /* background-color: rgb(187, 252, 181); */
}

.player-field-lower {
  margin: 0;
  width: 100%;
  height: 95%;
  margin-bottom: 1rem;
}

.champion-row {
  width: 100%;
  height: 30%;
  margin-top: 0.7rem;
  border: solid rgb(0, 0, 0) 1px;
  padding: 5px;
}

.image-row {
  height: 8.4rem;
}

.resource-row {
  height: 20%;
}

.image-col {
  overflow: hidden;
  padding: 0;
  margin-right: 1rem;
}

.resource-col {
  /* border: solid 1px rgb(141, 114, 167); */
  margin-right: 1rem;
}

.img-avatar {
  width: 100%;
  height: auto;
  display: block;
  border: solid 1px rgb(109, 108, 108);
}

.img-skill {
  width: 100%;
  height: auto;
  display: block;
  padding: 0.3rem;
  border: solid 1px rgb(109, 108, 108);
  background-color: rgb(216, 216, 216);
}

/* Enemy Field */
.enemy-field {
  /* background-color: rgb(248, 217, 215); */
}

.enemy-field-lower {
  margin: 0;
  width: 100%;
  height: 95%;
  margin-bottom: 1rem;
}

.enemy-image-col {
  height: 100%;
  width: 2rem;
  margin-right: 0;
}

.enemy-row {
  justify-content: end;
  margin-left: 2px;
}

.enemy-resource-col {
  justify-content: end;
  margin-right: 0;
}

.enemy-field-lower {
  padding: 0;
}

/* Menu bar */

.menu-bar {
  background-color: rgb(251, 233, 252);
}

/* Info bar */

.info-bar {
  background-color: rgb(247, 248, 198);
}
